*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;




    box-sizing: border-box;
}






.contenedor{
    width: 100vw;
    height: 100vh;
    background-color:khaki;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor div{
    display: inline-block;
    width: 200px;
    height: 200px;

}
.caja1{
    
    background-color: green;
    flex-grow: 3;
}

.caja2{

    background-color: blue;
    flex-grow: 5;
}

.caja3{

    background-color: purple;
    flex-grow: 1;
}

.caja4{
    background-color: lightslategray;
    flex-grow: 2;
}



